<%- include("headder") -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">

        <%  newItems.forEach(function(items){ %>
        <form action="/delete" method="POST"> 
            <div class="item">
                <input type="checkbox" value="<%= items._id%>" name="checkbox" onchange="this.form.submit()">
                <p>
                    <%= items.name %>
                </p>
            </div>
            <input type="hidden" name="listName" value="<%= listTitle %>"></form>
        </form>
        <%  }) %>
        
                <form class="item" action="/" method="POST">
                    <input type="text" placeholder="Add New Item" name="newItem" required>

                    <button type="submit" name="list" value=<%=listTitle %>>+</button>
                </form>
    </div>
    <%- include("footer") -%>